<html ng-app="miApp">
<head>
	<title></title>
	<meta charset="utf8">
	<style type="text/css">
		.foto {
			float:left;
		}

		.clearfix {
			clear:both;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

	<script src="script04.js"></script>


</head>
<body ng-controller="inventarioController as inventarioctrl">

	<div ng-repeat="animal in inventarioctrl.animales" ng-controller="galeriaController as galeria">
		
		<h1>{{animal.tipo}}</h1>
		<img ng-src="{{animal.fotos[galeria.fotoActual].grande}}" />
		<br>
		<!--Galería de fotos -->
		<div class="foto" ng-repeat="foto in animal.fotos">
			<img ng-src="{{foto.chica}}" ng-click="galeria.agrandarFoto($index)" />	
		</div>
		<div class="clearfix"></div>
		
		<!-- Comentarios -->
		<hr>
		<div ng-repeat="comentario in animal.comentarios">	
			<p>{{comentario.texto}}</p>
			<small>Estrellas: {{comentario.estrellas}}</small>
			<br>
			<cite>- {{comentario.autor}}</cite>
		</div>
		<hr>
		<form name="frm" ng-controller="formularioController as formulario" ng-submit="frm.$valid && formulario.agregarComentario(animal)" novalidate>
			<input type="text" placeholder="Ingresar autor" ng-model="formulario.comentario.autor" required /><br>
			<textarea placeholder="Deje su comentario" ng-model="formulario.comentario.texto" required></textarea><br>
			Califique: 
			<select ng-model="formulario.comentario.estrellas" required>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select><br>

			Validación: {{frm.$valid}}

			<br>
			<input type="submit" value="Enviar comentartio" />
		</form>


		<hr>

	</div>


</body>
</html>